// Accordion
.accordion {
  clear: both;
  .accordion-title {
    cursor: pointer;
    display: block;
    padding: 1em 0 .8em;
    margin: 0;
    font-size: 1.25em;
    @include transition((color $speed ease-in-out, background $speed ease-in-out));
    .icon {
      float: right;
      margin-top: 3px;
      margin-bottom: 0px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0;
      border-top: $accordion-styles;
      //@include transition((max-height $speed ease-in-out, color $speed ease-in-out, background $speed ease-in-out));
      @include transition((all $speed ease-in-out));
      // max-height: 62px;
      overflow: hidden;
      position: relative;
      .accordion-content {
        //max-height: 0;
        //@include opacity(0);
        //@include transition((max-height $slow*2 ease-in-out, opacity $slow ease-in-out));
        > div {
          padding-bottom: .5em;
          p {
            margin-top: 0;
          }
        }
      }
      .accordion-title {
        width: 90%;
      }
      .icon {
        display: block;
        position: absolute;
        width: 16px;
        height: 2px;
        background-color: $text-color;
        right: 0;
        top: 33px;
        @include transition((transform $speed ease-in-out, background $speed ease-in-out));
        span {
          display: block;
          position: absolute;
          width: 2px;
          height: 16px;
          left: 7px;
          top: -7px;
          background-color: $text-color;
          @include transition(background $speed ease-in-out);
        }
      }
      &:last-child,
      &.last-child {
        border-bottom: $accordion-styles;
      }
      &:hover {
        .accordion-title {
          color: $primary-color;
        }
        .icon,
        .icon span {
          background-color: $primary-color;
        }
      }
      &.open {
        .accordion-content {
          //@include opacity(1);
          //max-height: 1000px;
        }
        .accordion-title {
          color: $primary-color;
        }
        .icon {
          @include transform(rotate(135deg));
          background-color: $primary-color;
          span {
            background-color: $primary-color;
          }
        }
      }
    }
  }
}