// Buttons

.btn,
.grid .btn,
input[type="submit"],
button {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-image: none;
  -webkit-appearance: caret;
  -moz-appearance: caret; /* mobile firefox too! */
  -webkit-appearance: none;
  background-color: $btn-bg;
  color: $btn-color;
  height: $btn-height;
  max-height: $btn-height;
  padding: $btn-padding;
  margin: 0px;
  font-family: $main-font;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  line-height: $btn-height;
  width: 100%;
  max-width: 320px;
  border: $btn-border;
  position: relative;
  overflow: hidden;
  @include border-radius ($btn-border-radius);
  @include transition ((border $speed ease-in-out, background $speed ease-in-out, color $speed ease-in-out, background $speed ease-in-out, padding $speed ease-in-out));
  
  .icon {
    svg {
      * {
        fill: $btn-color;
      }
    }
  }

  &.medium {
    font-size: .95em;
    height: $btn-medium-height;
    padding: $btn-medium-padding;
    line-height: $btn-medium-height;
  }

  &.tiny {
    font-size: .857em;
    height: $btn-tiny-height;
    padding: $btn-tiny-padding;
    line-height: $btn-tiny-height;
  }

  &:hover,
  &:focus {
    color: $btn-hover-color;
    background-color: $btn-hover-bg;
    border: $btn-hover-border;
    svg {
      * {
        fill: $btn-hover-color;
      }
    }
  }

  &.loading {
    color: transparent;
    background-color: $btn-bg;
    border: $btn-border;
    cursor: default;
  }

  &.secondary {
    background-color: $secondary-btn-bg;
    color: $secondary-btn-color;
    border: $secondary-btn-border;
    svg {
      * {
        fill: $secondary-btn-color;
      }
    }
    &:hover,
    &:focus {
      color: $secondary-btn-hover-color;
      background-color: $secondary-btn-hover-bg;
      border: $secondary-btn-hover-border;
      svg {
        * {
          fill: $secondary-btn-hover-color;
        }
      }
    }
  }
}

// Icons
.icon {
  display: inline-block;
  position: relative;
  width: 16px;
  vertical-align: middle;
  @include transition ((background $speed ease-in-out, opacity $speed ease-in-out));
  svg {
    max-height: 16px;
    max-width: 16px;
    * {
      fill: $text-color;
      @include transition((fill $speed ease-in-out));
    }
  }
}

.btn .icon,
input[type="submit"] .icon,
button .icon {
  margin-right: 7px;
  margin-bottom: 3px;
}


// Loader
button#willLoad.loading:after,
.btn#willLoad.loading:after,
input[type=submit]#willLoad.loading:after {
  visibility: visible;
  @include opacity(1);
  background: transparent;
  top: 50%;
}

#willLoad:after {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 75%;
  left: 50%;
  z-index: 10000;
  margin: -10px 0 0 -10px;
  border: 2px solid rgba(255,255,255,.5);
  border-top-color: rgba(255,255,255,1);
  border-bottom-color: rgba(255,255,255,.5);
  border-left-color: rgba(255,255,255,1);
  border-right-color: rgba(255,255,255,.5);
  border-radius: 100%;
  content: '';
  @include animation(rotate .6s linear infinite);
  visibility: hidden;
  @include opacity(0);
  @include transition((top $speed ease-in-out, opacity $slow ease-in-out, visibility $slow ease-in-out));
}

button {
  .message {
    display: block;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    position: absolute;
    @include transition((top $speed ease-in-out));
  }
  &.success {
    background-color: #27ae60;
    border-color: #27ae60;
    padding-top: $btn-height - 16px;
    .message {
      top: 0;
    }
  }
}

svg, svg * {
  @include transition((all $speed ease-in-out));
}