#page{
  @include opacity(0);
  @include transition((opacity .75s ease-in-out));
}
.loaded #page{
  @include opacity(1);
}

// Page Loader
#pageLoader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  background: $bg-color;
  z-index: 9998;
  @include transition((opacity .75s ease-in-out, visibility .75s ease-in-out));
  @include opacity(1);
  visibility: visible;
}

#pageLoader .loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10000;
  @include opacity(0);
  @include animation(loader .5s 1.5s ease-in-out forwards);
  .spinner {
    margin: (-($spinner-size/2)) 0 0 (-($spinner-size/2));
    z-index: 10000;
  }
  .ripple {
    margin: (-($ripple-size/2)) 0 0 (-($ripple-size/2));
    z-index: 10000;
  }
}

@include keyframes(pulsate) {
  0%   { @include opacity(1); }
  50% { @include opacity(.25); }
  100% { @include opacity(1); }
}

.loaded #pageLoader {
  @include opacity(0);
  visibility: hidden;
}

.loaded body {
  overflow-y: scroll;
  overflow-x:hidden;
}

.no-js body {
  @include opacity(1);
}

@include keyframes(loader) {
  0%   { @include opacity(0); }
  100% { @include opacity(1); }
}