// @import 'fonts';
@import 'fonts';
@import 'typography-static';

html, form, textarea, input, input[type="text"], input[type="search"], input[type="password"], input[type="email"], button, select {
  font-family: $main-font;
  text-rendering: optimizeLegibility; 
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

body{ 
  -webkit-text-size-adjust:none; 
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  font-weight: 400;
  @include respond($huge) {
    //font-size: $base-font-size + 2px;
  }
}

/*HTML Standard Elements*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { 
  line-height: $base-line-height;;
  margin-bottom: .5em;
  &.no-pushdown {
    margin-top: 0;
  }
}

// .block h1:first-of-type,
// .block h2:first-of-type,
// .block h3:first-of-type,
// .block h4:first-of-type,
// .block h5:first-of-type,
// .block h6:first-of-type,
.block hr:first-of-type {
  margin-top: 0;
}

h1, *.h1 { 
  font-size: 2.25em;
} 

h2, *.h2 { 
  font-size: 2em;
}

h3, *.h3 {
  font-size: 1.75em;
}

h4, *.h4 {
  font-size: 1.5em;
}

h5, *.h5 {
  font-size: 1.25em;
  margin-bottom: 1rem;
}

h6, *.h6 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 + img, 
h2 + img,
h3 + img,
*.h1 + img, 
*.h2 + img,
*.h3 + img {
  margin-top:1em;
}

img + p {
  margin-top: 1em;
}

ul, ol, form { margin: 0 0 $base-line-height; }

nav ul {
  margin: 0px;
}

ul {
  list-style-position:outside; list-style:disc; padding-left: 18px;
}

ol {
  list-style-position:outside; list-style:decimal; padding-left: 22px;
}

a { 
  text-decoration: none; 
  color: $link-color; 
  @include transition ((color $speed ease-in-out, border $speed ease-in-out, background-color $speed ease-in-out, opacity $speed ease-in-out));
}

a:hover,
a:focus { 
  color: $link-hover-color;
}

p {
  hyphenate: auto;
  hyphenate-before:2;
  hyphenate-after:3;
  hyphenate-lines: 3; orphans: 4;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: $base-line-height;
  line-height: $base-line-height;
}

p a { 
  color: $text-color;
  border-bottom: 1px solid $light-text-color;
  &:hover,
  &:focus {
    color: $primary-color;
    border-color: $primary-color;
  }
}

.opener p,
p.opener,
p.lg,
.lg p {
  font-size: 1.25em;
  line-height: $base-line-height - .1em;
  margin-bottom: 1em;
}

blockquote {
  font-size: 1.375em;
  line-height: 1.4em;
  margin: 2em 0 2em 0;
  color: $text-color;
  @include respond($md) {
    padding-left: 2em;
  }
}

p span.dropcap,
p.dropcap:first-letter {
  display: block;
  font-style: normal;
  font-size: 5.55em;
  float: left;
  margin: .08em .1em -0.3em -.05em;
  line-height: 0.9em;
  font-weight: 900;
  text-transform: uppercase;
  color: $text-color;
}

p span.dropcap.box {
  background-color: $text-color;
  display: block;
  font-style: normal;
  font-size: 3em;
  float: left;
  height: 1.3em;
  margin: .13em .1em -0.25em 0em;
  line-height: 1.15em;
  font-weight: 700;
  text-transform: uppercase;
  color: $bg-color;
  padding: .197em .22em;
  margin-right: .25em;
}

b,
strong { 
  font-weight: 700;
}

.sm,
small,
.small,
label { 
  font-size: .875em;
  line-height: $base-line-height;
}

label {
  display: block;
  margin-bottom: .25em;
}

hr {
  border: none;
  border-top: $hr-styles;
  margin: 2em 0 2em;
}

pre { 
  margin-bottom: $base-line-height;
  padding: $base-line-height;
  background-color: $text-color;
  color: $bg-color;
  font-family: Consolas, Andale Mono, monospace;
  font-size: .9em;
  overflow-x: hidden;
  @include respond($md) {
    font-size: 1em;
  }
}

// Forms
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background: $input-bg;
  border: $input-border;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  padding: $input-padding;
  width: 100%;
  margin: 0px 0 1em 0;
  line-height: $input-line-height;
  @include border-radius ($input-border-radius);
  @include transition ((background $speed ease-in-out, border $speed));
  resize: none;
  vertical-align: top;
  text-indent: 0px;
  height: $btn-medium-height;
}

textarea {
  line-height: $base-line-height;
  padding-top: 7px;
  padding-bottom: 10px;
  height: 120px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  background: $input-focus-bg;
  border: $input-focus-border;
  color: $input-focus-color;
}

// Radios and Checkboxes
input[type="radio"],
input[type="checkbox"] {
  display: none;
}

label {
  cursor: pointer;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-size: 1em;
}

input[type="radio"] + label span,
input[type="checkbox"] + label span {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: $hr-color;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  @include transition ((border $speed ease-in-out, background $speed ease-in-out, color $speed ease-in-out));
}

input[type="radio"] + label span {
  @include border-radius(50%);
  border: 3px solid $hr-color;
}

input[type="radio"]:checked + label span,
input[type="checkbox"]:checked + label span {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: $link-color;
}

// Selects
select {
  -webkit-appearance: none;
  background: $select-bg;
  border: $select-border;
  color: $select-color;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  height: 40px;
  width: 100%;
  margin: 0px 0 1em 0;
  line-height: 1.2em;
  padding: $input-padding;
  @include border-radius ($input-border-radius);
  @include transition ((background $speed ease-in-out, border $speed));
  vertical-align: top;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url(../images/arrow-thick-blk.png);
  background-image: url(../images/arrow-thick-blk.svg);
}

select:hover,
select:focus {
  border: $input-focus-border;
}

.blue {
  color: $primary-color;
}

.grey {
  color: $light-text-color;
}

// Rich Text Areas
.rich-text {
  ul,
  ol {
    padding-top: 2em;
    padding-bottom: 2em; 
    li {
      margin-bottom: .75em;
    }
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 4rem;
  }
}