// Page Loader
#pageLoader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; 
  right: 0;
  bottom: 0;
  left: 0;
  background: $bg-color;
  z-index: 9998;
  @include transition((opacity .5s ease-in-out, visibility .5s ease-in-out));
  @include opacity(1);
  visibility: visible;
}

#pageLoader .loader {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  z-index: 10000;
  margin: -40px 0 0 -40px;
  & .spinner {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10000;
    border: 1px solid rgba(0,0,0,.2);
    border-top-color: rgba(0,0,255,1);
    border-bottom-color: rgba(0,0,0,.2);
    border-left-color: rgba(0,0,255,1);
    border-right-color: rgba(0,0,0,.2);
    border-radius: 100%;
    @include animation(rotate .6s linear infinite);
  }
  & svg {
    position: absolute;
    width: 10px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -5px;
    display: block;
    fill: $primary-color;
  }
}

@include keyframes(pulsate) {
  0%   { @include opacity(1); }
  50% { @include opacity(.25); }
  100% { @include opacity(1); }
}

.loaded #pageLoader {
  @include opacity(0);
  visibility: hidden;
}

.loaded body {
  overflow-y: scroll;
  overflow-x:hidden;
}

.no-js body {
  @include opacity(1);
}