@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
/* line 1, ../sass/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
/* line 26, ../sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 29, ../sass/_reset.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
/* line 38, ../sass/_reset.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
}

/* line 42, ../sass/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
}

/* line 47, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 50, ../sass/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 54, ../sass/_reset.scss */
img {
  -webkit-filter: blur(0px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
}

/* line 2, ../sass/_style-static.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0px;
  height: 0;
  background: blue;
}

/* line 9, ../sass/_style-static.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 23, ../sass/_style-static.scss */
form > div.half,
form > div.half.right,
form > div.third,
form > div.third.right,
form > div.two-thirds,
form > div.two-thirds.right {
  float: none;
  padding: 0;
}
@media only screen and (min-width: 600px) {
  /* line 23, ../sass/_style-static.scss */
  form > div.half,
  form > div.half.right,
  form > div.third,
  form > div.third.right,
  form > div.two-thirds,
  form > div.two-thirds.right {
    display: inline-block;
    margin-right: -0.25em;
    width: 47%;
  }
}
@media only screen and (min-width: 850px) {
  /* line 23, ../sass/_style-static.scss */
  form > div.half,
  form > div.half.right,
  form > div.third,
  form > div.third.right,
  form > div.two-thirds,
  form > div.two-thirds.right {
    width: 48.5%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 37, ../sass/_style-static.scss */
  form > div.third,
  form > div.third.right {
    width: 30.3334%;
  }
}
@media only screen and (min-width: 850px) {
  /* line 37, ../sass/_style-static.scss */
  form > div.third,
  form > div.third.right {
    width: 31.8334%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 47, ../sass/_style-static.scss */
  form > div.two-thirds,
  form > div.two-thirds.right {
    width: 63.6667%;
  }
}
@media only screen and (min-width: 850px) {
  /* line 47, ../sass/_style-static.scss */
  form > div.two-thirds,
  form > div.two-thirds.right {
    width: 65.1667%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 56, ../sass/_style-static.scss */
  form > div.right {
    margin-left: 6%;
  }
}
@media only screen and (min-width: 850px) {
  /* line 56, ../sass/_style-static.scss */
  form > div.right {
    margin-left: 3%;
  }
}

/*==============================================================================
  Rows, containing any number of columns 
==============================================================================*/
/* line 70, ../sass/_new-grid.scss */
.row {
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 600px) {
  /* line 70, ../sass/_new-grid.scss */
  .row {
    display: block;
    margin: 0 auto 3%;
    width: 100%;
    *zoom: 1;
  }
  /* line 15, ../sass/_new-grid.scss */
  .row:before, .row:after {
    content: "";
    display: table;
  }
  /* line 19, ../sass/_new-grid.scss */
  .row:after {
    clear: both;
  }
}

/*==============================================================================
  Columns, generic
==============================================================================*/
@media only screen and (min-width: 600px) {
  /* line 85, ../sass/_new-grid.scss */
  .col + .col:last-child,
  .col.right {
    float: right;
  }
}

@media only screen and (min-width: 600px) {
  /* line 91, ../sass/_new-grid.scss */
  .col + .col.end {
    float: left;
  }
}

/* Cancel the left margin in the first item */
@media only screen and (min-width: 600px) {
  /* line 100, ../sass/_new-grid.scss */
  .row .col:first-child,
  .row .row .col:first-child,
  .col.left {
    margin-left: 0;
  }
}

/* Column, generic */
/* line 107, ../sass/_new-grid.scss */
.col {
  min-height: 1px;
}
@media only screen and (min-width: 600px) {
  /* line 107, ../sass/_new-grid.scss */
  .col {
    display: inline;
    float: left;
    position: relative;
    margin: 0 0 0 3%;
  }
}

/* line 117, ../sass/_new-grid.scss */
.inline-grid {
  padding: 0;
  list-style: none;
}
@media only screen and (min-width: 600px) {
  /* line 117, ../sass/_new-grid.scss */
  .inline-grid {
    text-align: left;
    display: block;
    *zoom: 1;
    margin: 0 -1.5% 3%;
  }
  /* line 15, ../sass/_new-grid.scss */
  .inline-grid:before, .inline-grid:after {
    content: "";
    display: table;
  }
  /* line 19, ../sass/_new-grid.scss */
  .inline-grid:after {
    clear: both;
  }
  /* line 125, ../sass/_new-grid.scss */
  .inline-grid.center {
    text-align: center;
  }
  /* line 127, ../sass/_new-grid.scss */
  .inline-grid.center > * {
    margin-right: -.125em;
    margin-left: -.125em;
  }
  /* line 132, ../sass/_new-grid.scss */
  .inline-grid.right {
    text-align: right;
  }
  /* line 134, ../sass/_new-grid.scss */
  .inline-grid.right > * {
    margin-right: 0;
    margin-left: -.25em;
  }
  /* line 139, ../sass/_new-grid.scss */
  .inline-grid > * {
    vertical-align: top;
    display: inline-block;
    margin-right: -.25em;
    margin-left: 0;
    padding: 0 1.5% 3%;
    float: none !important;
    text-align: left;
  }
  /* line 148, ../sass/_new-grid.scss */
  .inline-grid.middle > * {
    vertical-align: middle;
  }
  /* line 151, ../sass/_new-grid.scss */
  .inline-grid.bottom > * {
    vertical-align: bottom;
  }
}

/*==============================================================================
  Column widths and left margins (use your own classes, this is just for demonstration)
==============================================================================*/
@media only screen and (min-width: 600px) {
  /* line 161, ../sass/_new-grid.scss */
  .one {
    width: 5.5833333333%;
  }
  /* line 163, ../sass/_new-grid.scss */
  .inline-grid .one {
    width: 8.3333333333%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 170, ../sass/_new-grid.scss */
  .two {
    width: 14.1666666667%;
  }
  /* line 172, ../sass/_new-grid.scss */
  .inline-grid .two {
    width: 16.6666666667%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 179, ../sass/_new-grid.scss */
  .three {
    width: 22.75%;
  }
  /* line 181, ../sass/_new-grid.scss */
  .inline-grid .three {
    width: 25%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 188, ../sass/_new-grid.scss */
  .four-up > * {
    width: 25%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 194, ../sass/_new-grid.scss */
  .four {
    width: 31.3333333333%;
  }
  /* line 196, ../sass/_new-grid.scss */
  .inline-grid .four {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 203, ../sass/_new-grid.scss */
  .three-up > * {
    width: 33.3333333333%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 209, ../sass/_new-grid.scss */
  .five {
    width: 39.9166666667%;
  }
  /* line 211, ../sass/_new-grid.scss */
  .inline-grid .five {
    width: 41.6666666667%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 218, ../sass/_new-grid.scss */
  .six {
    width: 48.5%;
  }
  /* line 220, ../sass/_new-grid.scss */
  .inline-grid .six {
    width: 50%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 227, ../sass/_new-grid.scss */
  .seven {
    width: 57.0833333333%;
  }
  /* line 229, ../sass/_new-grid.scss */
  .inline-grid .seven {
    width: 58.3333333333%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 236, ../sass/_new-grid.scss */
  .eight {
    width: 65.6666666667%;
  }
  /* line 238, ../sass/_new-grid.scss */
  .inline-grid .eight {
    width: 66.6666666667%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 245, ../sass/_new-grid.scss */
  .nine {
    width: 74.25%;
  }
  /* line 247, ../sass/_new-grid.scss */
  .inline-grid .nine {
    width: 75%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 254, ../sass/_new-grid.scss */
  .ten {
    width: 82.8333333333%;
  }
  /* line 256, ../sass/_new-grid.scss */
  .inline-grid .ten {
    width: 83.3333333333%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 263, ../sass/_new-grid.scss */
  .eleven {
    width: 91.4166666667%;
  }
  /* line 265, ../sass/_new-grid.scss */
  .inline-grid .eleven {
    width: 91.6666666667%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 272, ../sass/_new-grid.scss */
  .twelve {
    width: 100%;
  }
  /* line 274, ../sass/_new-grid.scss */
  .inline-grid .twelve {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 281, ../sass/_new-grid.scss */
  .fifth {
    width: 17.6%;
  }
  /* line 283, ../sass/_new-grid.scss */
  .inline-grid .fifth {
    width: 20%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 290, ../sass/_new-grid.scss */
  .eighth {
    width: 9.875%;
  }
  /* line 292, ../sass/_new-grid.scss */
  .inline-grid .eighth {
    width: 12.5%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 300, ../sass/_new-grid.scss */
  .six .two {
    margin-left: 6.1855670103%;
    width: 29.2096219931%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 306, ../sass/_new-grid.scss */
  .six .three {
    margin-left: 6.1855670103%;
    width: 46.9072164948%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 312, ../sass/_new-grid.scss */
  .six .four {
    margin-left: 6.1855670103%;
    width: 64.6048109966%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 318, ../sass/_new-grid.scss */
  .eight .two {
    margin-left: 4.5685279188%;
    width: 21.5736040609%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 324, ../sass/_new-grid.scss */
  .eight .three {
    margin-left: 4.5685279188%;
    width: 34.6446700508%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 330, ../sass/_new-grid.scss */
  .eight .four {
    margin-left: 4.5685279188%;
    width: 47.7157360406%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 336, ../sass/_new-grid.scss */
  .eight .five {
    margin-left: 4.5685279188%;
    width: 60.7868020305%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 342, ../sass/_new-grid.scss */
  .eight .six {
    margin-left: 4.5685279188%;
    width: 73.8578680203%;
  }
}

@media only screen and (min-width: 600px) {
  /* line 348, ../sass/_new-grid.scss */
  .eight .seven {
    margin-left: 4.5685279188%;
    width: 86.9289340102%;
  }
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNextLTPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNextLTPro-Medium.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url("../fonts/AvenirNextLTPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* line 1, ../sass/_typography-static.scss */
body {
  text-rendering: optimizeLegibility;
}

/* line 14, ../sass/_typography-static.scss */
::-webkit-selection {
  background-color: #999999;
  color: white;
}

/* line 16, ../sass/_typography-static.scss */
::-moz-selection {
  background-color: #999999;
  color: white;
}

/* line 17, ../sass/_typography-static.scss */
::selection {
  background-color: #999999;
  color: white;
}

/* line 22, ../sass/_typography-static.scss */
::-webkit-input-placeholder {
  color: #999999;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
}

/* line 23, ../sass/_typography-static.scss */
:focus::-webkit-input-placeholder {
  color: transparent;
}

/* line 25, ../sass/_typography-static.scss */
:-moz-placeholder {
  color: #999999;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
}

/* line 26, ../sass/_typography-static.scss */
:focus:-moz-placeholder {
  color: transparent;
}

/* line 27, ../sass/_typography-static.scss */
::-moz-placeholder {
  color: #999999;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
}

/* line 28, ../sass/_typography-static.scss */
:focus::-moz-placeholder {
  color: transparent;
}

/* line 30, ../sass/_typography-static.scss */
:-ms-input-placeholder {
  color: #999999;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
}

/* line 31, ../sass/_typography-static.scss */
:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 5, ../sass/_typography.scss */
html, form, textarea, input, input[type="text"], input[type="search"], input[type="password"], input[type="email"], button, select {
  font-family: "Avenir", sans-serif;
  text-rendering: optimizeLegibility;
}

/* line 12, ../sass/_typography.scss */
body {
  -webkit-text-size-adjust: none;
  font-size: 16px;
  line-height: 1.65em;
  color: #222222;
  font-weight: 400;
}

/*HTML Standard Elements*/
/* line 25, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.65em;
  margin-bottom: .5em;
}
/* line 28, ../sass/_typography.scss */
h1.no-pushdown, h2.no-pushdown, h3.no-pushdown, h4.no-pushdown, h5.no-pushdown, h6.no-pushdown,
.h1.no-pushdown, .h2.no-pushdown, .h3.no-pushdown, .h4.no-pushdown, .h5.no-pushdown, .h6.no-pushdown {
  margin-top: 0;
}

/* line 39, ../sass/_typography.scss */
.block hr:first-of-type {
  margin-top: 0;
}

/* line 43, ../sass/_typography.scss */
h1, *.h1 {
  font-size: 2.25em;
}

/* line 47, ../sass/_typography.scss */
h2, *.h2 {
  font-size: 2em;
}

/* line 51, ../sass/_typography.scss */
h3, *.h3 {
  font-size: 1.75em;
}

/* line 55, ../sass/_typography.scss */
h4, *.h4 {
  font-size: 1.5em;
}

/* line 59, ../sass/_typography.scss */
h5, *.h5 {
  font-size: 1.25em;
  margin-bottom: 1rem;
}

/* line 64, ../sass/_typography.scss */
h6, *.h6 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* line 75, ../sass/_typography.scss */
h1 + img,
h2 + img,
h3 + img,
*.h1 + img,
*.h2 + img,
*.h3 + img {
  margin-top: 1em;
}

/* line 79, ../sass/_typography.scss */
img + p {
  margin-top: 1em;
}

/* line 83, ../sass/_typography.scss */
ul, ol, form {
  margin: 0 0 1.65em;
}

/* line 85, ../sass/_typography.scss */
nav ul {
  margin: 0px;
}

/* line 89, ../sass/_typography.scss */
ul {
  list-style-position: outside;
  list-style: disc;
  padding-left: 18px;
}

/* line 93, ../sass/_typography.scss */
ol {
  list-style-position: outside;
  list-style: decimal;
  padding-left: 22px;
}

/* line 97, ../sass/_typography.scss */
a {
  text-decoration: none;
  color: #999999;
  -webkit-transition: color 0.25s ease-in-out, border 0.25s ease-in-out, background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, border 0.25s ease-in-out, background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, border 0.25s ease-in-out, background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

/* line 104, ../sass/_typography.scss */
a:hover,
a:focus {
  color: blue;
}

/* line 108, ../sass/_typography.scss */
p {
  hyphenate: auto;
  hyphenate-before: 2;
  hyphenate-after: 3;
  hyphenate-lines: 3;
  orphans: 4;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1.65em;
  line-height: 1.65em;
}

/* line 119, ../sass/_typography.scss */
p a {
  color: #222222;
  border-bottom: 1px solid #999999;
}
/* line 123, ../sass/_typography.scss */
p a:hover, p a:focus {
  color: blue;
  border-color: blue;
}

/* line 132, ../sass/_typography.scss */
.opener p,
p.opener,
p.lg,
.lg p {
  font-size: 1.25em;
  line-height: 1.55em;
  margin-bottom: 1em;
}

/* line 138, ../sass/_typography.scss */
blockquote {
  font-size: 1.375em;
  line-height: 1.4em;
  margin: 2em 0 2em 0;
  color: #222222;
}
@media only screen and (min-width: 600px) {
  /* line 138, ../sass/_typography.scss */
  blockquote {
    padding-left: 2em;
  }
}

/* line 149, ../sass/_typography.scss */
p span.dropcap,
p.dropcap:first-letter {
  display: block;
  font-style: normal;
  font-size: 5.55em;
  float: left;
  margin: .08em .1em -0.3em -.05em;
  line-height: 0.9em;
  font-weight: 900;
  text-transform: uppercase;
  color: #222222;
}

/* line 161, ../sass/_typography.scss */
p span.dropcap.box {
  background-color: #222222;
  display: block;
  font-style: normal;
  font-size: 3em;
  float: left;
  height: 1.3em;
  margin: .13em .1em -0.25em 0em;
  line-height: 1.15em;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: .197em .22em;
  margin-right: .25em;
}

/* line 178, ../sass/_typography.scss */
b,
strong {
  font-weight: 700;
}

/* line 185, ../sass/_typography.scss */
.sm,
small,
.small,
label {
  font-size: .875em;
  line-height: 1.65em;
}

/* line 190, ../sass/_typography.scss */
label {
  display: block;
  margin-bottom: .25em;
}

/* line 195, ../sass/_typography.scss */
hr {
  border: none;
  border-top: 3px solid #222222;
  margin: 2em 0 2em;
}

/* line 201, ../sass/_typography.scss */
pre {
  margin-bottom: 1.65em;
  padding: 1.65em;
  background-color: #222222;
  color: white;
  font-family: Consolas, Andale Mono, monospace;
  font-size: .9em;
  overflow-x: hidden;
}
@media only screen and (min-width: 600px) {
  /* line 201, ../sass/_typography.scss */
  pre {
    font-size: 1em;
  }
}

/* line 219, ../sass/_typography.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background: transparent;
  border: 1px solid #999999;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  padding: 2px 10px 0px 10px;
  width: 100%;
  margin: 0px 0 1em 0;
  line-height: 40px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: background 0.25s ease-in-out, border 0.25s;
  -moz-transition: background 0.25s ease-in-out, border 0.25s;
  -o-transition: background 0.25s ease-in-out, border 0.25s;
  resize: none;
  vertical-align: top;
  text-indent: 0px;
  height: 40px;
}

/* line 240, ../sass/_typography.scss */
textarea {
  line-height: 1.65em;
  padding-top: 7px;
  padding-bottom: 10px;
  height: 120px;
}

/* line 247, ../sass/_typography.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 255, ../sass/_typography.scss */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  background: transparent;
  border: 1px solid blue;
  color: #222222;
}

/* line 263, ../sass/_typography.scss */
input[type="radio"],
input[type="checkbox"] {
  display: none;
}

/* line 267, ../sass/_typography.scss */
label {
  cursor: pointer;
}

/* line 272, ../sass/_typography.scss */
input[type="radio"] + label,
input[type="checkbox"] + label {
  font-size: 1em;
}

/* line 277, ../sass/_typography.scss */
input[type="radio"] + label span,
input[type="checkbox"] + label span {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: #222222;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
  -webkit-transition: border 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out;
  -moz-transition: border 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out;
  -o-transition: border 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out;
}

/* line 288, ../sass/_typography.scss */
input[type="radio"] + label span {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 3px solid #222222;
}

/* line 294, ../sass/_typography.scss */
input[type="radio"]:checked + label span,
input[type="checkbox"]:checked + label span {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-color: #999999;
}

/* line 302, ../sass/_typography.scss */
select {
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #999999;
  color: #999999;
  box-shadow: none;
  outline: none;
  font-size: 1em;
  height: 40px;
  width: 100%;
  margin: 0px 0 1em 0;
  line-height: 1.2em;
  padding: 2px 10px 0px 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: background 0.25s ease-in-out, border 0.25s;
  -moz-transition: background 0.25s ease-in-out, border 0.25s;
  -o-transition: background 0.25s ease-in-out, border 0.25s;
  vertical-align: top;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url(../images/arrow-thick-blk.png);
  background-image: url(../images/arrow-thick-blk.svg);
}

/* line 326, ../sass/_typography.scss */
select:hover,
select:focus {
  border: 1px solid blue;
}

/* line 330, ../sass/_typography.scss */
.blue {
  color: blue;
}

/* line 334, ../sass/_typography.scss */
.grey {
  color: #999999;
}

/* line 341, ../sass/_typography.scss */
.rich-text ul,
.rich-text ol {
  padding-top: 2em;
  padding-bottom: 2em;
}
/* line 344, ../sass/_typography.scss */
.rich-text ul li,
.rich-text ol li {
  margin-bottom: .75em;
}
/* line 349, ../sass/_typography.scss */
.rich-text h1, .rich-text h2, .rich-text h3, .rich-text h4, .rich-text h5, .rich-text h6,
.rich-text .h1, .rich-text .h2, .rich-text .h3, .rich-text .h4, .rich-text .h5, .rich-text .h6 {
  margin-top: 4rem;
}

/* line 6, ../sass/_buttons-icons.scss */
.btn,
.grid .btn,
input[type="submit"],
button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  background-image: none;
  -webkit-appearance: caret;
  -moz-appearance: caret;
  /* mobile firefox too! */
  -webkit-appearance: none;
  background-color: #222222;
  color: white;
  height: 50px;
  max-height: 50px;
  padding: 0px 15px 0px 15px;
  margin: 0px;
  font-family: "Avenir", sans-serif;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  line-height: 50px;
  width: 100%;
  max-width: 320px;
  border: 1px solid #222222;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition: border 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out, background 0.25s ease-in-out, padding 0.25s ease-in-out;
  -moz-transition: border 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out, background 0.25s ease-in-out, padding 0.25s ease-in-out;
  -o-transition: border 0.25s ease-in-out, background 0.25s ease-in-out, color 0.25s ease-in-out, background 0.25s ease-in-out, padding 0.25s ease-in-out;
}

/* line 39, ../sass/_buttons-icons.scss */
.btn.medium,
input[type="submit"].medium,
button.medium {
  font-size: .95em;
  height: 40px;
  padding: 0px 15px 0px 15px;
  line-height: 40px;
}

/* line 48, ../sass/_buttons-icons.scss */
.btn.tiny,
input[type="submit"].tiny,
button.tiny {
  font-size: .857em;
  height: 30px;
  padding: 0px 15px 0px 15px;
  line-height: 30px;
}

/* line 60, ../sass/_buttons-icons.scss */
.btn:hover,
input[type="submit"]:hover,
button:hover,
.btn:focus,
input[type="submit"]:focus,
button:focus {
  color: white;
  background-color: blue;
  border: 1px solid blue;
}

/* line 68, ../sass/_buttons-icons.scss */
.btn.loading,
input[type="submit"].loading,
button.loading {
  color: transparent;
  background-color: #222222;
  border: 1px solid #222222;
  cursor: default;
}

/* line 77, ../sass/_buttons-icons.scss */
.btn.secondary,
input[type="submit"].secondary,
button.secondary {
  background-color: transparent;
  color: #999999;
  border: 1px solid #999999;
}

/* line 88, ../sass/_buttons-icons.scss */
.btn.secondary:hover,
input[type="submit"].secondary:hover,
button.secondary:hover,
.btn.secondary:focus,
input[type="submit"].secondary:focus,
button.secondary:focus {
  color: blue;
  background-color: transparent;
  border: 1px solid blue;
}

/* line 95, ../sass/_buttons-icons.scss */
.icon {
  display: inline-block;
  position: relative;
  width: 16px;
  vertical-align: middle;
  -webkit-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
/* line 101, ../sass/_buttons-icons.scss */
.icon svg {
  max-height: 16px;
  max-width: 16px;
}
/* line 107, ../sass/_buttons-icons.scss */
.icon path, .icon rect, .icon polygon {
  fill: #222222;
  -webkit-transition: fill 0.25s ease-in-out;
  -moz-transition: fill 0.25s ease-in-out;
  -o-transition: fill 0.25s ease-in-out;
}

/* line 115, ../sass/_buttons-icons.scss */
.btn .icon,
input[type="submit"] .icon,
button .icon {
  margin-right: 7px;
  margin-bottom: 3px;
}

/* line 128, ../sass/_buttons-icons.scss */
.btn .icon path,
input[type="submit"] .icon path,
button .icon path,
.btn .icon rect,
input[type="submit"] .icon rect,
button .icon rect,
.btn .icon polygon,
input[type="submit"] .icon polygon,
button .icon polygon {
  fill: white;
}

/* line 149, ../sass/_buttons-icons.scss */
.btn:hover .icon path,
input[type="submit"]:hover .icon path,
button:hover .icon path,
.btn:hover .icon rect,
input[type="submit"]:hover .icon rect,
button:hover .icon rect,
.btn:hover .icon polygon,
input[type="submit"]:hover .icon polygon,
button:hover .icon polygon,
.btn:focus .icon path,
input[type="submit"]:focus .icon path,
button:focus .icon path,
.btn:focus .icon rect,
input[type="submit"]:focus .icon rect,
button:focus .icon rect,
.btn:focus .icon polygon,
input[type="submit"]:focus .icon polygon,
button:focus .icon polygon {
  fill: white;
}

/* line 161, ../sass/_buttons-icons.scss */
.btn.secondary .icon path,
input[type="submit"].secondary .icon path,
button.secondary .icon path,
.btn.secondary .icon rect,
input[type="submit"].secondary .icon rect,
button.secondary .icon rect,
.btn.secondary .icon polygon,
input[type="submit"].secondary .icon polygon,
button.secondary .icon polygon {
  fill: #999999;
}

/* line 182, ../sass/_buttons-icons.scss */
.btn.secondary:hover .icon path,
input[type="submit"].secondary:hover .icon path,
button.secondary:hover .icon path,
.btn.secondary:hover .icon rect,
input[type="submit"].secondary:hover .icon rect,
button.secondary:hover .icon rect,
.btn.secondary:hover .icon polygon,
input[type="submit"].secondary:hover .icon polygon,
button.secondary:hover .icon polygon,
.btn.secondary:focus .icon path,
input[type="submit"].secondary:focus .icon path,
button.secondary:focus .icon path,
.btn.secondary:focus .icon rect,
input[type="submit"].secondary:focus .icon rect,
button.secondary:focus .icon rect,
.btn.secondary:focus .icon polygon,
input[type="submit"].secondary:focus .icon polygon,
button.secondary:focus .icon polygon {
  fill: blue;
}

/* line 189, ../sass/_buttons-icons.scss */
button#willLoad.loading:after,
.btn#willLoad.loading:after,
input[type=submit]#willLoad.loading:after {
  visibility: visible;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  background: transparent;
  top: 50%;
}

/* line 196, ../sass/_buttons-icons.scss */
#willLoad:after {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 75%;
  left: 50%;
  z-index: 10000;
  margin: -10px 0 0 -10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top-color: white;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  border-left-color: white;
  border-right-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  content: '';
  -o-animation: rotate 0.6s linear infinite;
  -moz-animation: rotate 0.6s linear infinite;
  -webkit-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
  visibility: hidden;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: top 0.25s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -moz-transition: top 0.25s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  -o-transition: top 0.25s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

/* line 219, ../sass/_buttons-icons.scss */
button .message {
  display: block;
  top: -100%;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  -webkit-transition: top 0.25s ease-in-out;
  -moz-transition: top 0.25s ease-in-out;
  -o-transition: top 0.25s ease-in-out;
}
/* line 228, ../sass/_buttons-icons.scss */
button.success {
  background-color: #27ae60;
  border-color: #27ae60;
  padding-top: 34px;
}
/* line 232, ../sass/_buttons-icons.scss */
button.success .message {
  top: 0;
}

/* line 1, ../sass/_fajax.scss */
#page {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out;
}

/* line 5, ../sass/_fajax.scss */
.loaded #page {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 10, ../sass/_fajax.scss */
#pageLoader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 9998;
  -webkit-transition: opacity 0.75s ease-in-out, visibility 0.75s ease-in-out;
  -moz-transition: opacity 0.75s ease-in-out, visibility 0.75s ease-in-out;
  -o-transition: opacity 0.75s ease-in-out, visibility 0.75s ease-in-out;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  visibility: visible;
}

/* line 25, ../sass/_fajax.scss */
#pageLoader .loader {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  z-index: 10000;
  margin: -40px 0 0 -40px;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -o-animation: loader 0.5s 1.5s ease-in-out forwards;
  -moz-animation: loader 0.5s 1.5s ease-in-out forwards;
  -webkit-animation: loader 0.5s 1.5s ease-in-out forwards;
  animation: loader 0.5s 1.5s ease-in-out forwards;
}
/* line 36, ../sass/_fajax.scss */
#pageLoader .loader .spinner {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-color: blue;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-left-color: blue;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -o-animation: rotate 0.6s linear infinite;
  -moz-animation: rotate 0.6s linear infinite;
  -webkit-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
}
/* line 49, ../sass/_fajax.scss */
#pageLoader .loader svg {
  position: absolute;
  width: 10px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -5px;
  display: block;
  fill: blue;
}

@-o-keyframes pulsate {
  /* line 61, ../sass/_fajax.scss */
  0% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

  /* line 62, ../sass/_fajax.scss */
  50% {
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
  }

  /* line 63, ../sass/_fajax.scss */
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

@-moz-keyframes pulsate {
  /* line 61, ../sass/_fajax.scss */
  0% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

  /* line 62, ../sass/_fajax.scss */
  50% {
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
  }

  /* line 63, ../sass/_fajax.scss */
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

@-webkit-keyframes pulsate {
  /* line 61, ../sass/_fajax.scss */
  0% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

  /* line 62, ../sass/_fajax.scss */
  50% {
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
  }

  /* line 63, ../sass/_fajax.scss */
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

@-keyframes pulsate {
  /* line 61, ../sass/_fajax.scss */
  0% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }

  /* line 62, ../sass/_fajax.scss */
  50% {
    -moz-opacity: 0.25;
    -khtml-opacity: 0.25;
    opacity: 0.25;
  }

  /* line 63, ../sass/_fajax.scss */
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

/* line 66, ../sass/_fajax.scss */
.loaded #pageLoader {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  visibility: hidden;
}

/* line 71, ../sass/_fajax.scss */
.loaded body {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 76, ../sass/_fajax.scss */
.no-js body {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

@-o-keyframes loader {
  /* line 81, ../sass/_fajax.scss */
  0% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }

  /* line 82, ../sass/_fajax.scss */
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

@-moz-keyframes loader {
  /* line 81, ../sass/_fajax.scss */
  0% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }

  /* line 82, ../sass/_fajax.scss */
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  /* line 81, ../sass/_fajax.scss */
  0% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }

  /* line 82, ../sass/_fajax.scss */
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

@-keyframes loader {
  /* line 81, ../sass/_fajax.scss */
  0% {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
  }

  /* line 82, ../sass/_fajax.scss */
  100% {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

@-o-keyframes rotate {
  /* line 2, ../sass/_animations.scss */
  0% {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 2, ../sass/_animations.scss */
  0% {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  /* line 2, ../sass/_animations.scss */
  0% {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

@-keyframes rotate {
  /* line 2, ../sass/_animations.scss */
  0% {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  /* line 3, ../sass/_animations.scss */
  100% {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px) {
  /* line 3, ../sass/_hypersite.scss */
  .container {
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: center;
  }
}

/* line 12, ../sass/_hypersite.scss */
.opener p em {
  font-family: 'Source Code Pro', monospace;
  background-color: #e1e8ff;
  font-weight: 400;
}

/* line 18, ../sass/_hypersite.scss */
code {
  font-family: 'Source Code Pro', monospace;
  color: blue;
  font-weight: 400;
}

/* line 25, ../sass/_hypersite.scss */
.inline-grid li img + em,
.inline-grid div img + em {
  text-align: left;
  margin-top: .5em;
  margin-bottom: 1em;
  display: block;
}

/* line 32, ../sass/_hypersite.scss */
.hyper-icon-row {
  list-style: none;
  padding: 0;
}
/* line 35, ../sass/_hypersite.scss */
.hyper-icon-row li {
  display: inline-block;
}

/* line 40, ../sass/_hypersite.scss */
a.tooltip {
  background-color: transparent;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  height: 40px;
  position: relative;
}
/* line 49, ../sass/_hypersite.scss */
a.tooltip:hover {
  background-color: #dfdfdf;
}
/* line 52, ../sass/_hypersite.scss */
a.tooltip .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 850px) {
  /* line 56, ../sass/_hypersite.scss */
  a.tooltip:after {
    position: absolute;
    content: attr(title);
    bottom: 45px;
    background-color: #333;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 72px;
    color: #fff;
    font-size: 14px;
    left: 50%;
    margin-left: -36px;
    visibility: hidden;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  }
  /* line 71, ../sass/_hypersite.scss */
  a.tooltip:hover:after {
    visibility: visible;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

/* line 80, ../sass/_hypersite.scss */
ul.inline-grid.hyper li > div,
.row.hyper > div > div {
  background: #dfdfdf;
  padding: 8%;
  background-position: center;
  text-align: center;
  position: relative;
}
/* line 86, ../sass/_hypersite.scss */
ul.inline-grid.hyper li > div img,
.row.hyper > div > div img {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 91, ../sass/_hypersite.scss */
ul.inline-grid.hyper li > div.favicon,
.row.hyper > div > div.favicon {
  height: 200px;
}
/* line 94, ../sass/_hypersite.scss */
ul.inline-grid.hyper li > div.touch-icon,
.row.hyper > div > div.touch-icon {
  height: 200px;
}
/* line 96, ../sass/_hypersite.scss */
ul.inline-grid.hyper li > div.touch-icon img,
.row.hyper > div > div.touch-icon img {
  width: 75px;
  border-radius: 20%;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  -webkit-box-shadow: 0 0 5px #cccccc;
  -moz-box-shadow: 0 0 5px #cccccc;
  box-shadow: 0 0 5px #cccccc;
}
/* line 103, ../sass/_hypersite.scss */
ul.inline-grid.hyper li p,
.row.hyper > div p {
  margin-top: .75em;
  margin-bottom: 2em;
}

/* line 109, ../sass/_hypersite.scss */
.light {
  color: #999999;
}

/* line 113, ../sass/_hypersite.scss */
.hyper-grid {
  display: none;
}
@media only screen and (min-width: 600px) {
  /* line 113, ../sass/_hypersite.scss */
  .hyper-grid {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  /* line 123, ../sass/_hypersite.scss */
  .hyper-grid .row .col {
    background-color: #eee;
    margin-bottom: 0;
    height: 100%;
  }
}

/* line 131, ../sass/_hypersite.scss */
#page {
  position: relative;
  z-index: 1;
}

/* Sections
---------------
- General
- Fajax
  - Page Loader

- Splash
- Header
- Dropdowns
- Footer
- Videos (wrap in .videoWrapper)
- Image Links
- Grid Layout
- Tables
- Slideshows
- Accordion
- Vertical Center
- Opener
---------------
*/
/* line 35, ../sass/style.scss */
html {
  min-height: 100%;
  max-height: 100%;
}

/* line 40, ../sass/style.scss */
body {
  background-color: white;
  min-height: 100%;
  overflow-y: hidden;
}

/* line 46, ../sass/style.scss */
#content {
  min-height: 600px;
}

/* line 50, ../sass/style.scss */
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  position: relative;
}

/* line 57, ../sass/style.scss */
section {
  padding-top: 5%;
  padding-bottom: 5%;
}

/* line 66, ../sass/style.scss */
header .container {
  padding: 30px 0;
}

/* line 70, ../sass/style.scss */
.logo {
  color: blue;
  font-size: 1em;
  margin-bottom: 1.5em;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url(../images/logo.png);
  background-image: url(../images/logo.svg);
  background-size: 100% auto;
}

/* line 84, ../sass/style.scss */
nav > ul {
  padding: 0;
  list-style: none;
}

/* line 89, ../sass/style.scss */
nav > ul > li {
  line-height: 16px;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  background-color: transparent;
  margin-bottom: 0;
  -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
}
/* line 99, ../sass/style.scss */
nav > ul > li:hover > a, nav > ul > li:focus > a {
  color: blue;
  border-color: blue;
}
/* line 104, ../sass/style.scss */
nav > ul > li a {
  display: block;
}
/* line 107, ../sass/style.scss */
nav > ul > li a:hover, nav > ul > li a:focus {
  color: blue;
  border-color: blue;
}
/* line 113, ../sass/style.scss */
nav > ul > li > div,
nav > ul > li > a {
  cursor: pointer;
  color: #222222;
  padding: 18px 0 15px;
  border-bottom: 1px solid transparent;
}

/* line 123, ../sass/style.scss */
nav > ul > li.active,
nav > ul > li.active > a,
nav > ul > li.active > div {
  color: blue;
}
@media only screen and (min-width: 600px) {
  /* line 123, ../sass/style.scss */
  nav > ul > li.active,
  nav > ul > li.active > a,
  nav > ul > li.active > div {
    border-color: #222222;
  }
}

/* line 131, ../sass/style.scss */
nav > ul li > ul {
  visibility: hidden;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: absolute;
  z-index: 9;
  background-color: white;
  padding: 5px 0;
  min-width: 150px;
  top: 100%;
  left: -15px;
  list-style: none;
  text-align: left;
  -webkit-transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
  border-radius: 0 2px 2px 2px;
  -moz-border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
  -webkit-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
}

/* line 148, ../sass/style.scss */
nav > ul li > ul li {
  margin-bottom: 0;
}

/* line 153, ../sass/style.scss */
header nav > ul li.has-children,
nav > ul li.has-children {
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
}

/* line 158, ../sass/style.scss */
nav > ul li:hover > ul,
nav > ul li:focus > ul {
  z-index: 300;
  visibility: visible;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 165, ../sass/style.scss */
nav > ul li > ul li a {
  display: block;
  color: #222222;
  padding: 12px 15px 10px;
}
/* line 170, ../sass/style.scss */
nav > ul li > ul li a:hover, nav > ul li > ul li a:focus {
  background-color: #eee;
}

/* line 179, ../sass/style.scss */
img, video {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  border: none;
  outline: none;
}

/* line 192, ../sass/style.scss */
footer .container {
  padding: 2em 0 1.75em;
}

/* line 196, ../sass/style.scss */
footer ul {
  list-style: none;
  padding: 0;
}

/* line 201, ../sass/style.scss */
footer ul li {
  margin-bottom: 0;
}

/* line 207, ../sass/style.scss */
a:hover img,
a:focus img {
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  border: none;
  outline: none;
}

/* line 215, ../sass/style.scss */
.grid a {
  color: #222222;
}

/* line 220, ../sass/style.scss */
table {
  width: 100%;
  vertical-align: middle;
}

/* line 225, ../sass/style.scss */
table th {
  font-weight: 700;
  border-bottom: 1px solid #222222;
}

/* line 230, ../sass/style.scss */
table td {
  vertical-align: middle;
  border-bottom: 1px solid #222222;
  padding: 3% 0;
}

/* line 236, ../sass/style.scss */
table td input[type="text"] {
  margin: 0 0 0 0;
}

/* line 243, ../sass/style.scss */
th.price,
td.price,
th.last,
td.last {
  text-align: right;
}

/* line 2, ../sass/_slideshows.scss */
.slideshow .slides {
  position: relative;
  margin: 0;
}
/* line 5, ../sass/_slideshows.scss */
.slideshow .slides ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 9, ../sass/_slideshows.scss */
.slideshow .slides ul li {
  margin-bottom: 0;
}

/* line 15, ../sass/_slideshows.scss */
.slidePager {
  text-align: center;
  padding: 20px 0;
}
/* line 18, ../sass/_slideshows.scss */
.slidePager span {
  cursor: pointer;
  color: #222222;
  -webkit-transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
  opacity: 0.2;
  font-size: 20px;
  padding: 15px 10px 10px;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}
/* line 28, ../sass/_slideshows.scss */
.slidePager span.active {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

/* line 34, ../sass/_slideshows.scss */
.detailPager {
  display: none;
}
@media only screen and (min-width: 600px) {
  /* line 34, ../sass/_slideshows.scss */
  .detailPager {
    display: block;
  }
  /* line 38, ../sass/_slideshows.scss */
  .detailPager li {
    cursor: pointer;
    margin-right: 0;
  }
  /* line 41, ../sass/_slideshows.scss */
  .detailPager li img {
    -moz-opacity: 0.35;
    -khtml-opacity: 0.35;
    opacity: 0.35;
  }
  /* line 44, ../sass/_slideshows.scss */
  .detailPager li.active img {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}

/* line 52, ../sass/_slideshows.scss */
.slideshow .next,
.slideshow .prev {
  display: none;
}
@media only screen and (min-width: 600px) {
  /* line 52, ../sass/_slideshows.scss */
  .slideshow .next,
  .slideshow .prev {
    display: block;
    font-size: 30px;
    position: absolute;
    bottom: 17px;
    z-index: 100;
    cursor: pointer;
  }
}

/* line 64, ../sass/_slideshows.scss */
.slideshow .prev {
  left: -2px;
}

/* line 68, ../sass/_slideshows.scss */
.slideshow .next {
  right: -2px;
}

/* line 2, ../sass/_accordion.scss */
.accordion {
  clear: both;
}
/* line 4, ../sass/_accordion.scss */
.accordion .accordion-title {
  cursor: pointer;
  display: block;
  padding: 1em 0 .8em;
  margin: 0;
  font-size: 1.25em;
  -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out, background 0.25s ease-in-out;
}
/* line 11, ../sass/_accordion.scss */
.accordion .accordion-title .icon {
  float: right;
  margin-top: 3px;
  margin-bottom: 0px;
}
/* line 17, ../sass/_accordion.scss */
.accordion ul {
  list-style: none;
  padding: 0;
}
/* line 20, ../sass/_accordion.scss */
.accordion ul li {
  margin-bottom: 0;
  border-top: 1px solid #999999;
  -webkit-transition: max-height 0.25s ease-in-out, color 0.25s ease-in-out, background 0.25s ease-in-out;
  -moz-transition: max-height 0.25s ease-in-out, color 0.25s ease-in-out, background 0.25s ease-in-out;
  -o-transition: max-height 0.25s ease-in-out, color 0.25s ease-in-out, background 0.25s ease-in-out;
  overflow: hidden;
  position: relative;
}
/* line 31, ../sass/_accordion.scss */
.accordion ul li .accordion-content > div {
  padding-bottom: .5em;
}
/* line 33, ../sass/_accordion.scss */
.accordion ul li .accordion-content > div p {
  margin-top: 0;
}
/* line 38, ../sass/_accordion.scss */
.accordion ul li .accordion-title {
  width: 90%;
}
/* line 44, ../sass/_accordion.scss */
.accordion ul li .icon {
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #222222;
  margin-top: 9px;
  right: 0;
  top: 20px;
  -webkit-transition: transform 0.25s ease-in-out, background 0.25s ease-in-out;
  -moz-transition: transform 0.25s ease-in-out, background 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out, background 0.25s ease-in-out;
}
/* line 54, ../sass/_accordion.scss */
.accordion ul li .icon span {
  display: block;
  position: absolute;
  width: 2px;
  height: 16px;
  left: 7px;
  top: -7px;
  background-color: #222222;
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -o-transition: background 0.25s ease-in-out;
}
/* line 66, ../sass/_accordion.scss */
.accordion ul li:last-child, .accordion ul li.last-child {
  border-bottom: 1px solid #999999;
}
/* line 70, ../sass/_accordion.scss */
.accordion ul li:hover .accordion-title {
  color: blue;
}
/* line 74, ../sass/_accordion.scss */
.accordion ul li:hover .icon,
.accordion ul li:hover .icon span {
  background-color: blue;
}
/* line 80, ../sass/_accordion.scss */
.accordion ul li.open .accordion-content {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  visibility: visible;
}
/* line 84, ../sass/_accordion.scss */
.accordion ul li.open .accordion-title {
  color: blue;
}
/* line 87, ../sass/_accordion.scss */
.accordion ul li.open .icon {
  -ms-transform: rotate(135deg);
  /* IE 9 */
  -webkit-transform: rotate(135deg);
  /* Chrome, Safari, Opera */
  transform: rotate(135deg);
  background-color: blue;
}
/* line 90, ../sass/_accordion.scss */
.accordion ul li.open .icon span {
  background-color: blue;
}

/* line 251, ../sass/style.scss */
.vertical-center {
  position: absolute;
  z-index: 1000;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* line 260, ../sass/style.scss */
.vertical-center > div {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 5%;
}

/* line 269, ../sass/style.scss */
.vertical-center > div > div {
  display: table-cell;
  vertical-align: middle;
}

/* line 275, ../sass/style.scss */
.full-window-height {
  background-color: white;
  overflow: hidden;
  position: relative;
}

/* line 281, ../sass/style.scss */
.full-window-height > div.full-area {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

/* line 288, ../sass/style.scss */
.full-window-height > div.full-area.wide {
  top: 50%;
}

/* line 292, ../sass/style.scss */
.full-window-height > div.full-area.tall {
  left: 50%;
}

/* line 296, ../sass/style.scss */
.full-window-height > div.full-area > img {
  width: 100%;
  height: auto;
  max-height: none;
}

/* line 302, ../sass/style.scss */
.full-window-height > div.full-area.tall img {
  width: auto;
  max-height: 100%;
  max-width: none;
}
